<table>
  <thead>
    <tr>
      <th>Assemblies</th>
    </tr>
  </thead>

  <tbody>
    <% if assemblies.length == 0 %>
      <tr><td>No assemblies matched your search.</td></tr>
    <% else %>
      <% assemblies.each_with_index do |assembly, i| %>
        <tr>
          <td><%= "#{i+1}) #{assembly.name}" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table><br>

<table>
  <thead>
    <tr>
      <th>Genes</th>
    </tr>
  </thead>

  <tbody>
    <% if genes.length == 0 %>
      <tr><td>No genes matched your search.</td></tr>
    <% else %>
      <% genes.each_with_index do |gene, i| %>
        <tr>
            <td><%= "#{i+1}) #{gene.dna}" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table><br>

<table>
  <thead>
    <tr>
      <th>Hits</th>
    </tr>
  </thead>

  <tbody>
    <% if hits.length == 0 %>
      <tr><td>No hits matched your search.</td></tr>
    <% else %>
      <% hits.each_with_index do |hit, i| %>
        <tr>
          <td><%= "#{i+1}) #{hit.match_gene_name}" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
